<launch>
    <node name="cod1_float_pub4" pkg="paquete4" type="cod1_float_pub4.py"/>
    <node name="cod2_float_pub4" pkg="paquete4" type="cod2_float_pub4.py"/>
    <node name="cod3_float_pub4" pkg="paquete4" type="cod3_float_pub4.py"/>
    <node name="cod4_float_point_sp4" pkg="paquete4" type="cod4_float_point_sp4.py"/>
    <node name="cod5_point_sub4" pkg="paquete4" type="cod5_point_sub4.py"/>
</launch>