<launch>
    <node name="cod1_int_pub3" pkg="paquete3" type="cod1_int_pub3.py"/>
    <node name="cod2_int_pub3" pkg="paquete3" type="cod2_int_pub3.py"/>
    <node name="cod3_int_sp3" pkg="paquete3" type="cod3_int_sp3.py"/>
    <node name="cod4_int_sub3" pkg="paquete3" type="cod4_int_sub3.py"/>
</launch>